<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">
    <title>POSTING | YOULINK</title>
    <style>
        @font-face {
            font-family: 'SLEIGothicTTF';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SLEIGothicTTF.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        * {
            font-family: 'SLEIGothicTTF';
        }

        .navi {
            width: 1200px;
            margin: auto;
        }

        .button {
            font-family: 'SLEIGothicTTF';
        }

        .box {
            margin: 20px auto;
            width: 800px;
        }

        .user_id {
            margin-bottom: 10px;
        }

        a:hover {
            text-decoration: none;
        }

        .nav-logo img {
            margin-top: 10px;
        }

    </style>
    <script>
        // 등록하기 버튼에 들어가는 함수
        function postArticle() {
            let title = $('#post-title').val()
            let url = $('#post-url').val()
            let comment = $('#post-comment').val()

            if (title == '' && url == '' && comment == '') {
                alert('칸을 비우지 말고 입력해 주세요!')
            } else {
                $.ajax({
                    type: "POST",
                    url: "/api/posting",
                    data: {
                        title_give: title,
                        url_give: url,
                        comment_give: comment
                    },
                    success: function (response) { // 성공하면
                        alert(response["msg"]);
                        window.location.href = "/"
                    }
                })
            }
        }

        // 로그아웃 버튼에 들어가는 함수 (토큰을 삭제시킨다.)
        function sign_out() {
            $.removeCookie('mytoken', {path: '/'});
            alert('로그아웃!')
            window.location.href = "/login"
        }

        // 메인페이지로 이동 시키는 함수
        function main_page() {
            window.location.href = '/'
        }
    </script>

</head>
<body>
<!--내비바-->
<div class="navi">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div>
            <a class="nav-logo" href="/">
                <img src="/static/logo_mini1.png" width="150px" height="120px">
            </a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <span class="user_id">{{ nickname }} 님</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="button is-dark" onclick="sign_out()" style="color: white">
                        <strong>로그아웃</strong>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</div>
<hr>
<form class="box">
    <!--제목 입력-->
    <div class="field">
        <label class="label">제목</label>
        <div class="field has-addons">
            <div class="control is-expanded">
                <input class="input" type="text" id="post-title" placeholder="">
            </div>
        </div>
        <!--채널 URL 입력-->
        <div class="field">
            <label class="label">채널 URL</label>
            <div class="control">
                <input class="input" id="post-url" placeholder="" value="">
            </div>
        </div>
        <!--간단 채널 소개 입력-->
        <div class="field">
            <label class="label">간단 채널 소개</label>
            <div class="field has-addons">
                <div class="control is-expanded">
                    <textarea class="textarea" id="post-comment" placeholder="ex) 멋진 채널 😆"></textarea>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- 버튼 영역 -->
<div class="field is-grouped is-grouped-centered">
    <p class="control">
        <a class="button is-dark" onclick="postArticle()" style="color: white">
            등록하기
        </a>
    </p>
    <p class="control">
        <a class="button is-light" onclick="main_page()">
            목록
        </a>
    </p>
</div>

</body>
</html>